.sc-loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: sc-loading-ellipsis 2s infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
}
@keyframes sc-loading-ellipsis {
    from {
        width: 2px;
    }
    to {
        width: 15px;
    }
}